#sortable.item-order { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

#sortable.item-order .sortable-item {
    justify-content: flex-start;
}

#sortable.item-order .item-title {
    font-weight: bold;
}

#sortable.item-order .other-meta {
    margin-left: .25rem;
}
